# deps
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
build/
*.tsbuildinfo

# caches
.turbo/
.cache/
.eslintcache

# expo / react native
.expo/
.expo-shared/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# env
.env
.env.*
!.env.example

# editors / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
